<!doctype html>
<html lang="zh-tw" xml:lang="zh-tw">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>政府電子採購網</title>
	<link href="/stylesheets/all.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tab_menu.css" />
	<link href="/stylesheets/tab.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/my_css.css">
	<script src="/javascripts/calendar.js"></script>
	<!--日期-->
	<script src="/javascripts/jquery-3.3.1.min.js"></script>
	<!--含式庫-->
	<script src="/javascripts/tab.js"></script>
	<!--頁簽-->
	<script type="text/javascript" src="/javascripts/menu.js"></script>
	<!--下拉選單-->

</head>

<body>
	<% include header %>
	<div class="middle_1">
		<div class="middle_1_cen">
			<!--中間內容導盲磚-->
			<a href="#C" id="AC" name="C" title="中間功能區塊" class="guide" accesskey="C">:::</a>
			<!--主要左邊欄位-->
			<div class="middle_1_cen_big">
				<form action="/docUpload/step2" method="POST" >
					<div id="content">
						<div class="body">
							<h3>步驟1：一般設定</h3>
							<hr>專案基本資料<br>
							<table class="tb_06 sp2" width="" border="1">
								<tbody>
									<tr>
										<td headers="tb_02" class="tbg_6">機關代碼</td>
										<td headers="tb_02" class="tbg_4R"><%= tenderInfo.tenderOrgId %></td>
										<td headers="tb_02" class="tbg_6">案號</td>
										<td headers="tb_02" class="tbg_4R"><%= tenderInfo.tenderCaseNo %></td>
									</tr>
									<tr>
										<td headers="tb_02" class="tbg_6">標案名稱</td>
										<td headers="tb_02" class="tbg_4R"><%= tenderInfo.tenderName %></td>
										<td headers="tb_02" class="tbg_6">序號</td>
										<td headers="tb_02" class="tbg_4R"><%= tenderInfo.tenderSq %></td>
									</tr>
									<tr>
										<td headers="tb_02" class="tbg_6">機關文件費</td>
										<td headers="tb_02" class="tbg_4R"><%= tenderInfo.docCharge %></td>
										<td headers="tb_02" class="tbg_6">總計</td>
										<td headers="tb_02" class="tbg_4R"><%= total %></td>
									</tr>
								</tbody>
							</table>
							<hr>
							採購IC卡設定<br>
							<p>
								<label>
									<input type="radio" name="certType" value="card" id="IC卡_0" checked>
									使用採購IC卡</label>
								<label>
									<input type="radio" name="certType" value="soft" id="IC卡_1">
									內建測試金鑰(練習區專用)</label>
								<br>
							</p>
							<hr>
							工作目錄設定<br>
							設定工作區 <input type="text" name="workPath" size= 50 value = <%= path %>>
							<hr>
							
							電子憑據目錄設定<br>
							選擇電子憑據目錄 <input type="text" name="tokenPath" size= 50 value = <%= path %>>
							<br>
							<div class="center_btn">
								<input type="button" class="btn_1" value="＜上一頁" disabled = true>
								<input type="submit" class="btn_1" value="下一頁＞">
								<input type="button" class="btn_1" value="取消">
							</div>
						</div>
						<!--end of body-->
					</div>
				</form>

				<!--end of content-->

				<div class="h_sp"></div>
				<!--首頁撐白色用-->
			</div>
		</div>
		<form action="/docUpload/step4" method="POST">
			<input type="submit" value="測試(第四頁)"/>
		</form>
		<% include footer %>
</body>

</html>